<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2 уравнения</title>
    <link rel="icon" type="image/png" href="https://img2.freepng.ru/20180612/ewe/kisspng-square-root-mathematics-plus-and-minus-signs-squar-beer-bottle-cap-5b1fee944867d1.1746039015288193482966.jpg" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'jacobi_method/2/index.css' %}">
</head>
<body>
<h1><a href="/">Главная</a> - Метод Якоби для решения СЛАУ</h1>

<form class='task' action="" method="post">
    {% csrf_token %}
    <p>Коэффициенты:</p>

    {{ form }}



    <input class='button_submit' type="submit" value="Решить" />
</form>

<div class="solution">
    {{ solution_text|safe|linebreaks }}
</div>
</body>
</html>